@mixin highlighted-navigation($color) {
  a, span {
    color: $color;
    opacity: 0.8;
    transition: opacity 200ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

.Vlt-sidemenu--flat {
  .Vlt-sidemenu__link {
    padding: 4px 10px;
  }

  li {
    a {
      font-weight: 900;
    }

    li {
      a {
        font-weight: 600;
      }

      li {
        a {
          font-weight: 400;
        }
      }
    }
  }
}

.Vlt-sidemenu__title + ul > li {
  margin-left: 0 !important;
}

@media #{$M-plus} {
  .Vlt-sidenav {
    height: calc(100vh - 111px);
  }
}

.navigation--documentation {
  .navigation-item--tutorials {
    @include highlighted-navigation($red);
  }

  .navigation-item--api-reference {
    @include highlighted-navigation($blue-dark);
  }

  .navigation-item--sdk-documentation > {
    @include highlighted-navigation($red);
  }

  .navigation-item--ncco-reference {
    @include highlighted-navigation($teal);
    .navigation-item--ncco-reference {
      @include highlighted-navigation($teal);
    }
  }
}

#Vlt-sidenav-mobile-trigger {
  display: inline-block;
  margin-top: $unit0;
  margin-right: $unit2;

  svg {
    height: 24px;
    width: 24px;
  }

  @media #{$M-plus} {
    display: none;
  }
}
