<div class="Vlt-js-accordion__trigger Vlt-accordion__trigger" data-accordion="acc<%= id %>">
	<h4>
	        Install dependencies
	</h4>
</div>

<div id="acc<%= id %>" class="Vlt-js-accordion__content">
	<div class="Vlt-box Vlt-box--lesspadding">
	    <p><%=deps['text']%></p>
	    <pre class="highlight bash"><code><%=deps['code']%></code></pre>
	</div>
</div>

