<h3 class="Vlt-title--margin-top3">Write the code</h3>
<p>Add the following to <code><%= config['file_name'] %></code>:</p>
<pre class="highlight <%= lexer.tag %>"><code><%= highlighted_code_source %></code></pre>
<a href="<%= source_url %>">View full source</a>
