<div class="Vlt-grid">
    <% @config["rows"].each do |row| %>
    <div class="row">
      <% row["columns"].each do |info| %>
        <% if row['column_count']%>
          <div class="Vlt-col--<%= info["width"] %>of<%= row['column_count'] %>">
        <% else %>
          <div class="Vlt-col">
        <% end %>
        <% info["entries"].each do |data| %>
          <% if data["type"] == "text" %>
            <%= data["text"]["content"] %>
          <% elsif data["type"] == "html" %>
            <%= data["html"]["content"] %>
          <% end %>
        <% end %>
        </div>
        <% end %>
      </div>
    <% end %>
</div>
