<div class="Vlt-grid">
    <% @config["rows"].each do |column| %>
        <% if column["columns"].count {|k| k.to_s.include?('entries')} == 1 %>
            <div class="Vlt-col">
        <% elsif column["columns"].count {|k| k.to_s.include?('entries')} > 1 %>
            <% column["columns"].each do |data| %>
                <% if data["width"] %>
                    <div class="Vlt-col--<%= data["width"] %>of<%= column["columns"].count {|k| k.to_s.include?('entries')} %>">
                <% else %>
                    <div class="Vlt-col">
                <% end %>
            <% end %>
        <% end %>
        <% column["columns"].each do |entity| %>
            <% entity["entries"].each do |content| %>
                <% if content["type"] == "text" %>
                    <%= content["text"]["content"] %>
                <% elsif content["type"] == "html" %>
                    <%= content["html"]["content"] %>
                <% end %>
            <% end %>
        <% end %>
    </div>
    <% end %>
</div>